body {
    background: url(https://wallpapers.com/images/hd/dark-background-b59iy2towqy5yrgb.jpg);
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-attachment: fixed; /* Keep the background fixed as you scroll */
    font-family: monospace;
    font-size: large;
    backdrop-filter: blur(1px); /* Apply a blur effect to the background */
}



header {
    text-align: center;
}

h1 {
    margin: 0;
	color: rgb(255, 169, 169);
}

main {
    margin-top: 20px;
}

article {
    background-color: rgba(93, 93, 93, 0.658);
    padding: 10px;
    border-radius: 10px;
    width: 70%; /* Set the width */
	margin-left: 10px;
}

article h2 {
    margin-top: 0;
}

footer {
    margin-top: auto;
    text-align: center;
    color: rgb(91, 91, 91);
    size: 2px;
}

.game-image {
    width: 800px; /* Adjust the width as needed */
    height: 400px; /* Maintain aspect ratio */
    display: block; /* Ensure each image is on its own line */
    margin: 20px auto; /* Center the images horizontally with some spacing */
    border: 4px solid rgb(22, 22, 22); /* Add a solid border with the desired color */
    border-radius: 20px; /* Add rounded corners */
}

